.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.item-title {
  font-size: var(--mdc-list-list-item-supporting-text-size);
}

.active {
  background-color: #FAFAFA;
  border-style: solid;
  border-width: 1px;
  border-right: 0px;
  border-color: #E0E0E0;
}

.mdc-list {
  padding-top: 0px;
}

