<app-navbar></app-navbar>

<div class="container">
  <h1 class="mb-3 fw-normal titulo fw-bold pt-5 text-center">Alterar Perfil</h1>
  <form [formGroup]="form">
  <mat-accordion>
    <!-- Informações Gerais -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Informações Gerais</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row row-cols-lg-2 py-3 ">
        <mat-form-field class="mb-3" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
          @if (form.get('nome')?.invalid) {
            <mat-error>{{ getMensagemError('nome')}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="mb-3" appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput type="text" formControlName="cpf"/>
          @if (form.get('cpf')?.invalid) {
            <mat-error>{{ getMensagemError("cpf") }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="mb-3" appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput type="date" formControlName="data_nascimento"/>
          @if (form.get('data_nascimento')?.invalid) {
            <mat-error>{{ getMensagemError("data_nascimento") }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="mb-3" appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput type="text" formControlName="telefone"/>
          @if (form.get('telefone')?.invalid) {
            <mat-error>{{ getMensagemError("telefone") }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="mb-3" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="nome@email.com"/>
          @if (form.get('email')?.invalid) {
            <mat-error>{{ getMensagemError("email") }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="mb-3" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="login"/>
          @if (form.get('login')?.invalid) {
            <mat-error>{{ getMensagemError("login") }}</mat-error>
          }
        </mat-form-field>

        <div class="col col-md-4 ">
          <button class="btn btn-outline-primary" (click)="openChangePasswordDialog()">
            <i class="bi bi-pencil"></i>
              Alterar senha
          </button>

        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>Endereço</mat-panel-title>
        <!-- @if (form.get('endereco')?.value == null) {
          <mat-panel-description>Nenhum endereço cadastrado</mat-panel-description>
        } -->

      </mat-expansion-panel-header>
        <app-cadastro-endereco [form]="form"></app-cadastro-endereco>
    </mat-expansion-panel>
  </mat-accordion>


    <div class="row justify-content-md-center mt-5">
      <div class="col col-md-4">
        <button class="btn btn-primary w-100 mt-2" type="submit" [disabled]="hasChanges()" (click)="onSubmit()">Confirmar</button>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>
