<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo-sem-texto.png" alt="Logo" width="5%"/>
          Nome da Empresa
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end text-nowrap text-center" id="navbarNav">
        <div class="navbar-nav">

            <a class="nav-link" aria-current="page" href="#">Pacotes</a>

          <!--
            <a class="nav-link" href="#">Features</a>


            <a class="nav-link" href="#">Pricing</a>
           -->

            <button class="btn btn-outline-primary my-2 my-sm-0" (click)="login()">
              <i class="bi bi-person"></i>
                Login
            </button>

        </div>
      </div>


    </div>
  </nav>
</header>

