.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}


.wrap-text {
  white-space: pre-wrap;
  word-wrap: break-word!important;
  overflow-wrap: break-word!important;
}

mat-list-item{
  height: auto !important;
}
