.tituloSecao{
    margin-right: 50px;
}

.btn-outline-primary:hover {
    background-color: #12274D;
    color: #ffffff; 
    border-color: #12274D; 
}

.btn-outline-primary {
        color: #12274D; 
        border-color: #12274D; 
}