.card-pacote{
    background-color: white;
    height: 500px;
    width: 300px;
    border: 1px solid #e1e1e0;
    border-radius: 4px;
}

.foto{
    width: 100%;
}

.duracao{
    background-color:#6DBFF6;
    width: 130px;
    height: 30px;
    top: 217px;
    left: 25px;
}

h1{
    font-family: "Arial";
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* Ajuste conforme necessário */
}
