<app-navbar></app-navbar>

<div class="container">
  <h1 class="mb-3 fw-normal titulo fw-bold pt-5 text-center">Cadastro</h1>
  <form [formGroup]="form">
    <div class="row row-cols-lg-2 py-3 my-5">
      <mat-form-field class="mb-3" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome" />
        @if (form.get('nome')?.invalid) {
          <mat-error>{{ getMensagemError('nome') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="mb-3" appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput type="text" formControlName="cpf"/>
        @if (form.get('cpf')?.invalid) {
          <mat-error>{{ getMensagemError('cpf') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="mb-3" appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput type="date" formControlName="data_nascimento"/>
        @if (form.get('data_nascimento')?.invalid) {
          <mat-error>{{ getMensagemError('data_nascimento' ) }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="mb-3" appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput type="text" formControlName="telefone"/>
        @if (form.get('telefone')?.invalid) {
          <mat-error>{{ getMensagemError('telefone') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="mb-3" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="nome@email.com"/>
        @if (form.get('email')?.invalid) {
          <mat-error>{{ getMensagemError("email") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="mb-3" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="login"/>
        @if (form.get('login')?.invalid) {
          <mat-error>{{ getMensagemError("login") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="mb-3" appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha"/>
        @if (form.get('senha')?.invalid) {
          <mat-error>{{ getMensagemError("senha") }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="mb-3" appearance="outline">
        <mat-label>Confirme sua senha</mat-label>
        <input matInput type="password" [formControl]="passwordConfirm"/>
        @if (passwordConfirm.invalid) {
          <mat-error>{{ getMensagemError("passwordConfirm") }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="row justify-content-md-center">
      <div class="col col-md-4">
        <button class="btn btn-primary w-100 mt-2" type="submit" (click)="onSubmit()">Cadastrar</button>
      </div>
    </div>
    <div class="py-3 text-body-secondary text-center">
      <p>Já possui uma conta? <a class="text-body-secondary" href="login"> Faça o login</a></p>
    </div>

  </form>
</div>
<app-footer></app-footer>
